body{  
    background: var(--cgris);
    padding: 90px;
    text-align: center;
}
:root{
    --cblanco: rgb(255, 255, 255);
    --crojo: rgb(245, 12, 12);
    --cnegro: rgb(7, 7, 7);
    --cgris: rgb(128, 128, 128);
    --cazul: rgb(15, 46, 75);
    --cceleste: rgb(15,87,95);
}
.contenido h1{
    font-style:unset;
    font-weight:bold;
    font-size:5em;
    color:  var(--crojo);  
    margin-top: -90px;  
}
.contenido .pri{
    text-align:unset;
    font-size:1.5em;
    color: var(--cblanco);
    margin-top: -10px;  
}
.contenido .seg{
    text-align:unset;
    font-size:1.5em;
    color: var(--cblanco); 
}
.contenido button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: var(--cblanco);
    background-color: var(--cceleste);
    border-radius: 6px;
    border: 2px solid var(--cazul); 
}
.contenido button:hover{
    background: var(--crojo);
    
}

footer{
    color: var(--cblanco);
    text-align: left;
    background: var(--cnegro);
    margin-top:50px;
    width: 1517px;
    top: 104px;
    left: -98px;
    
    position: relative;
}
footer h2{
    font-size:1.8em;
    text-align: center;
    position: relative;
    top: auto;
}
footer div{
    font-size:1.8em;
    text-align: center;
    position: relative;
    top: auto;
}